{{>menu}}
<h1>Did I beat the market?</h1>
<section id="myAssets">
  <h2>Compare your overall portfolio value</h2>
  <form action="/my-assets" id="enterMyAssets" method="post">
    <fieldset>
      <legend>Enter your data</legend>
      <label for="startDate">
        Start Date:
        <input type="date" name="startDate" id="startDate">
      </label>
      <label for="startValue">
        Start Value $
        <input type="number" step="0.01" name="startValue" id="startValue">
      </label>
      <label for="endDate">
        End Date:
        <input type="date" name="endDate" id="endDate">
      </label>
      <label for="endValue">
        End Value $
        <input type="number" step="0.01" name="endValue" id="endValue">
      </label>
      <input type="submit" id="submitMyAssets">
    </fieldset>
  </form>
  <br>
  <div>
    <table id="myAssetResult">
      <thead>
        <tr>
          <th></th>
          <th>Start Date Value ({{input.startDate}})</th>
          <th>End Date Value ({{input.endDate}})</th>
          <th>Percent Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The Market</td>
          <td>${{input.startValue}}</td>
          <td>${{result.marketEndValue}}</td>
          <td>{{result.marketChangePercent}}%</td>
        </tr>
        <tr>
          <td>Your Portfolio</td>
          <td>${{input.startValue}}</td>
          <td>${{input.endValue}}</td>
          <td>{{result.myChangePercent}}%</td>
        </tr>
      </tbody>
    </table>
    <h1>So did I?</h1>
    {{#if result.beat}}
    <h2>YOU BEAT THE MARKET</h2>
    {{else}}
    <h2>NO</h2>
    {{/if}}
  </div>
</section>
