{{>menu}}
<section id="myAssets">
  <div id="myAssetInput">
    <h2>Did <strong>I</strong> beat the market?</h2>
    <p>
      Compare your portfolio's performance to the overall market's value
      over a specific span of time.
    </p>
    <form action="/my-assets" id="enterMyAssets" method="post">
      <fieldset>
        <legend>
          Enter the asset values on the starting and ending dates.
        </legend>
        <ul>
          <li>
            <label for="startValue">
              My assets were worth $
              <input type="number" step="0.01" name="startValue" id="startValue">
            </label>
            <label for="startDate">
              on the starting date of
              <input type="date" name="startDate" id="startDate">
            </label>
          </li>
          <li>
            <label for="endValue">
              My assets were worth $
              <input type="number" step="0.01" name="endValue" id="endValue">
            </label>
            <label for="endDate">
              on the ending date of
              <input type="date" name="endDate" id="endDate">
            </label>
          </li>
          <li>
            <input type="submit" id="submitMyAssets" value="Judge Me As A Person">
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  {{#if error}}
  <h3>Invalid dates. Please try again. Dates must be weekdays, before today, non-holidays,
      and start date must be before end date.</h3>
  {{else}}
  {{#if input}}
  <div id="myAssetResultArea">
    <h1>So: Did I Beat The Market?</h1>
    <table id="myAssetResult">
      <thead>
        <tr>
          <th></th>
          <th>Start Date Value ({{input.startDate}})</th>
          <th>End Date Value ({{input.endDate}})</th>
          <th>Percent Change</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>The Market</td>
          <td>${{input.startValue}}</td>
          <td>${{result.marketEndValue}}</td>
          <td>{{result.marketChangePercent}}%</td>
        </tr>
        <tr>
          <td>Your Portfolio</td>
          <td>${{input.startValue}}</td>
          <td>${{input.endValue}}</td>
          <td>{{result.myChangePercent}}%</td>
        </tr>
      </tbody>
    </table>
    {{#if result.beat}}
    <h2>YOU BEAT THE MARKET, WINNER!</h2>
    <img class="resultImage" src="images/stonks.png" alt="STONKS!">
    {{else}}
    <h1>NO, YOU LOSE LOSER!</h1>
    <img class="resultImage" src="images/not_stonks.jpg" alt="NOT STONKS!">
    {{/if}}
  </div>
  {{/if}}
  {{/if}}
</section>
